POSTGRES_DB=assignments_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
JWT_SECRET=super_secret_key_which_should_be_at_least_256_bits_long
JWT_ISSUER=AssignmentSystem
JWT_AUDIENCE=AssignmentSystemClients
JWT_EXPIRY_MINUTES=60
